#contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;
}
.contact-btn-wrapper {
    padding: .75rem .75rem;
    border-radius: 10%;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    &:hover {
        background-color: var(--hover-color);
    }
}
.btns-wrapper {
    display: flex;
    justify-content: center;
}
.con-text {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 60px;
    color: var(--grey);
}