:root {
  --pink: #FF74FD;
  --grey: #A9A9A9;
  --base-size: 1rem;
  --hover-color: rgba(255, 255, 255, 0.385);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  
}
a {
  text-decoration: none;
  scroll-behavior: smooth;
}
::selection {
  background: rgb(225, 78, 183, .5);
}
h1, h3, h6, p {
  color: white
}
.nav-total {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1rem;
  background: rgba(255, 255, 255, 0.057);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 60px;
  height: 5rem;
  margin: 0 10vw;
}
.nav-container {
  z-index: 1000;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.nav-title {
  z-index: 1000;
  opacity: 70%;
  &:hover {
    color: white;
    opacity: 1;
  }
}
.nav-button {
  z-index: 1000;
  background-color: white;
  min-width: 8.5rem;
  height: 3rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1.3rem;
  &:hover {
    -webkit-box-shadow: 0px 0px 7px 1px #FFFFFF; 
    box-shadow: 0px 0px 7px 1px #FFFFFF;
    transition: .2s;
  }
}
.nav-button-text {
  z-index: 1000;
  color: black;
  font-weight: 500;
}
.stars {
  object-fit: cover;
  z-index: -1000;
}
.stars-container {
  position: fixed;
  z-index: -1000;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.black-wrapper {
  background-color: black;
  z-index: -2;
}
.section-heading {
  z-index: 110;
  font-size: 3em;
  text-align: center;
}
.subheading {
  font-size: calc(var(--base-size) * 2);
}
.small-text {
  color: var(--grey);
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: var(--base-size);
}
.hide {
  visibility: hidden;
}
.grad-text {
  background-image: linear-gradient(261deg,#ff00d0,#7300ff);
  background-size: 250% 250%;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.pointer {
  cursor: pointer;
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  #skills {
    margin-bottom: -20vh;
    margin-top: -7vh;
  }
  #horizon {
    margin-top: 50vh;
  }
  #title {
    font-size: 5rem;
  }
  #subtitle {
    font-size: 3rem;
  }
  #purp {
    margin-top: -50%;
  }
  #res-button {
    visibility: hidden;
  }
  #nav {
    visibility: hidden;
  }
}
